body {
  font-family: "Ubuntu",Helvetica,Arial,Lucida,sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #ED1450;
}
strong {
  color: #ED1450;
}
.contenu {
  max-width: 910px;
  width: auto;
  margin: auto;
  margin-top: 6%;
}
h2 {
  font-size: 2em;
  color: #ED1450;
}
/*=BANDEAU DU HAUT=*/
.banniere {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #fff;
}
.bande img {
  width: 8%;
  display: inline;
  padding: 5px;
  margin: auto;
  vertical-align: middle;
}
.bande button {
  display: inline;
  padding: 5px;
  color: #fff;
  background-color: #ED1450;
  font-weight: bold;
  border-radius: 10px;
}
.bande ul {
  display: inline;
}
.bande li {
  display: inline;
  padding: 5px;
}

/*=BLOC D'ENTETE=*/
.logoentete {
  padding: 20px;
  background-color: #fff;
}

/*=BLOC D'EXPLICATIONS=*/
.economiedupartage {
  background-color: #E5E5E5;
  margin-top: 10px;
  padding: 20px;
}
.ecopartage img {
  float: right;
  margin-right: -15%;
  width: 25%;
}

/*=BLOC DE PRESENTATION DU HACKATHON=*/
.presentation {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
}
.presentation img {
  height: 120px;
}
.presentation h3 {
  font-size: 2em;
}
h3.team {
  color: #3096C9;
}
h3.work {
  color: #B8141F;
}
h3.award {
  color: #FFBA52;
}
.detail-presentation {
  display: inline-flex;
  margin: 5%;
  padding: 1%;
}
.titre-presentation {
  display: inline-block;
  height: 20%;
  margin: 10px;
}
.texte-presentation {
  display: inline-block;
  height: 60%;
  margin: 40px;
}

/*=BLOC DU JURY=*/
.jury {
  margin-top: 10px;
  padding: 20px;
  background-color: #E5E5E5;
}
.jury img {
  max-height: 170px;
}
.jury figure {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

/*=BLOC PRIX=*/
.prix {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
}
.prix h2 {
  color: #ED1450;
}
.prix>.contenu img {
  width: 40px;
  vertical-align: top;
}
.prix .col {
  width: 20%;
  padding: 10px;
  margin: 5px;
  border: 0.5px solid #fff;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
}

/*=BANDEAU FONDATION SNCF=*/
.fondationsncf {
  background-color: #ED1450;
  color: #fff;
  height: 45px;
  display: flex;
  padding-left: 17%;
}
.fondationsncf p {
  margin: 15px 30px 0 30px;
}
.fondationsncf img {
  height: 45px;
}
